:root {
  --background: 0 0% 4%;
  --foreground: 210 13% 88%;
  --card: 0 0% 10%;
  --card-foreground: 210 14% 89%;
  --primary: 220 72% 54%;
  --primary-foreground: 220 18% 98%;
  --secondary: 0 0% 13%;
  --secondary-foreground: 210 12% 84%;
  --muted: 0 0% 12%;
  --muted-foreground: 215 7% 57%;
  --accent: 267 56% 55%;
  --accent-foreground: 220 18% 98%;
  --destructive: 356 62% 52%;
  --destructive-foreground: 220 18% 98%;
  --success: 162 58% 34%;
  --success-foreground: 164 100% 8%;
  --warning: 34 78% 43%;
  --warning-foreground: 28 58% 7%;
  --border: 0 0% 18%;
  --input: 0 0% 10%;
  --ring: 220 72% 54%;
  --shadow-ledger: 0 0% 0%;
}

.dark {
  --background: 0 0% 4%;
  --foreground: 210 13% 88%;
  --card: 0 0% 10%;
  --card-foreground: 210 14% 89%;
  --primary: 220 72% 54%;
  --primary-foreground: 220 18% 98%;
  --secondary: 0 0% 13%;
  --secondary-foreground: 210 12% 84%;
  --muted: 0 0% 12%;
  --muted-foreground: 215 7% 57%;
  --accent: 267 56% 55%;
  --accent-foreground: 220 18% 98%;
  --destructive: 356 62% 52%;
  --destructive-foreground: 220 18% 98%;
  --success: 162 58% 34%;
  --success-foreground: 164 100% 8%;
  --warning: 34 78% 43%;
  --warning-foreground: 28 58% 7%;
  --border: 0 0% 18%;
  --input: 0 0% 10%;
  --ring: 220 72% 54%;
  --shadow-ledger: 0 0% 0%;
}
